ul#menu li{
		display:inline;
		list-style-type: none;
		margin: 0;
		padding: 25px;
		
		
		}
.header
	{
		color: white;
		font-weight:bold;
		border: 8px white dashed;
		font-size: 150%;
		background-color:red ;
	}
.footer
	{
		color: white;
		font-weight:bold;
		border: 8px white dashed;
		font-size: 150%;
		background-color:red ;
	}
	