
	body {
    background-color:lightblue ;
	}
	a{
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	p{
		color: red;
		font-weight:bold;
		
	}


table th {
    color: yellow;
    background-color: maroon;