h1 {
        font-family: 'Bangers', cursive;
        font-size: 48px;
      }
    
.bandMembers
	{
		
		font-style: italic;

	}
.BMP
	{
	font-family: 'Gloria Hallelujah', cursive;
        font-size: 24px	
	}
.band
	{
		background-image: url("/Images/Album/Abbey_Road.jpg");
		
	}