h1 {
        font-family: 'Bangers', cursive;
        font-size: 48px;
      }
    
.bandMembers
	{
		
		font-style: italic;

	}
.BMP
	{
	font-family: 'Gloria Hallelujah', cursive;
        font-size: 24px	
	}
.band
	{
		background-image: url("/Images/Album/Abbey_Road.jpg");
		
	}
	

a:hover{
	font-weight: bold;
	color: white;
	background-color: #f44336;
}


td{
	background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
	font-style: italic;
    
}
th{
	background-color: white;
    color: #f44336;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    
}
table, th, td,tr{
	border-collapse: collapse;
}
