.header {
    color: white;
    background-color: red;
/*    font-family: 'Bungee Shade', cursive;*/
    font-size: 200%;

}

#drinkCoke{
    
}
.container{
     background-color: #DC0200;
}
.btn {
    color: black;
    font-weight: bold;
    border: 3px black solid;
    font-size: 100%;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;




}



hr {
    border-top: 3px solid black;
}
