.header {
    color: black;
    font-size: 200%;
}

.btn {
    color: black;
    font-weight: bold;
    border: 3px black solid;
    font-size: 100%;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Bungee Shade', cursive;
}



hr {
    border-top: 3px solid black;
}
